@import url('https://fonts.googleapis.com/css2?family=Bungee+Shade&family=Monoton&display=swap');

.test {
    color: rgb(120, 219, 111);
    background-color: rgb(241, 50, 50);
    color:rgb(212, 212, 212)
}